#####################################################################
集計結果
#####################################################################

#####################################################################
ユーザ別累計情報
#####################################################################
{% for i, row in df_sorted_owner_rank.iterrows() %}
{{i+1}} {{ "{:<10}".format(row.owner_name) }} {{ "{:>8}".format(row.prize) }}    {{row.race_records}}
{%- endfor %}

#####################################################################
ユーザー個別情報
#####################################################################
{% for df_owner in df_owners %}
### {{df_sorted_owner_rank.loc[loop.index - 1].owner_name}}  ({{df_sorted_owner_rank.loc[loop.index - 1].race_records}})
馬名                      成   績      収得賞金    厩  舎
{% for j, r in df_owner.iterrows() -%}
{{ "{:<18}".format(r['name']) }} {{r.sex}} {{r.place_1st}}-{{r.place_2nd}}-{{r.place_3rd}}-{{r.place_others}}    {{ "{:>8}".format(r.prize) }}    {{r.trainer}}({{r.stable_location}})
{% endfor -%}
{% endfor %}

#####################################################################
登録馬父母情報
#####################################################################
{% for df_owner in df_owners %}
### {{df_sorted_owner_rank.loc[loop.index - 1].owner_name}}
馬名                          父                    母
{% for j, r in df_owner.iterrows() -%}
{{ "{:<18}".format(r['name']) }} {{ "{:<18}".format(r.sire) }} {{ "{:<18}".format(r.mare) }}
{% endfor -%}
{% endfor %}

#####################################################################
POG集計プログラム (poger2_lite)
